    body {
        width: 100%;
        height: 100%;
        background-image: url('background_image.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .subheading {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    

/* Media query for smaller screens
@media only screen and (max-width: 768px) {
    body {
        background-size: contain; 
    }
*/
